.DS_store
__pycache__/

*.pth
*.npy
motion_guidance_env/

*chkpts/
*data/
*wget-log
.python-version
*Python-3.8.5
#all in assets git ignore
*assets/custom_flows/
*myenv385
*.cache/
results/
*.err
*.out
